html, body, #root {
    margin: 0;
    padding: 0;
}

html {
  scrollbar-width: 10px;
  scrollbar-color: #bebebe rgba(0, 0, 255, 0);
 
}
* {
  scrollbar-width: thin;
}
.lucide {
  color: #37353E;
  width: 20px;
  height: 20px;
  stroke-width: 1.5;
}
